* {
    margin: 0;
    padding: 0;
    color: #e0e1dd;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #415a77;
    height: 100vh;
    width: 100vw;
}
/*############################################################################*/
header {
    background-color: #0d1b2a;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}
#appName {
    font-size: 52px;
    width: 500px;
    min-width: 300px;
    text-align: center;
    padding: 12px;
}
#appName:hover {
    cursor: pointer;
}
#gameOptionsContainer {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10%;
    flex: 1 1 300px;
}
.gameOptions {
    font-size: 32px;
    width: 20%;
    min-width: 200px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.gameOptions:hover {
    cursor: pointer;
}
/*############################################################################*/
main {
    width: 100%;
    height: 80%;
    background-color: #415a77;
    color: #0d1b2a;
    display: flex;
    justify-content: center;
    align-items: center;
}
#welcomePage {
    height: 70%;
    width: 100%;
    padding: 80px;
    color: #0d1b2a;
    text-align: center;
    font-size: 64px;
}
#gameDescription {
    font-size: 32px;
    text-align: left;
    color: #0d1b2a;
    list-style-type: disc;
}
#gameDescription li {
    color: #0d1b2a;
}
#gameDescription a {
    text-decoration: none;
}

/*############################################################################*/
.allGameContainer {
    width: fit-content;
    height: fit-content;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 48px;
    border: 8px solid black;
    border-radius: 16px;
}
.mainHeader {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.operationName {
    width: 100%;
    text-align: center;
    color: #0d1b2a;
    font-size: 64px;
    margin-bottom: 8px;
}
.level {
    width: fit-content;
    font-size: 48px;
    display: flex;
    color: #0d1b2a;
}
.levelNumber {
    color: #0d1b2a;
}
.progressBarContainer {
    width: 300px;
    background-color: black;
    height: 40px;
    border-radius: 8px;
    position: relative;
    margin-left: 48px;
    margin-top: 12px;
}
.progressBarPrecent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}
.progressBar {
    width: 90%;
    height: 100%;
    background-color: green;
    border-radius: 8px;
}
.gameContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gameProblem {
    width: fit-content;
    min-width: 300px;
    height: fit-content;
    padding: 32px;
    margin-top: 48px;
    font-size: 96px;
    text-align: center;
    /*border: 8px solid #0d1b2a;*/
    border-radius: 12px;
    color: #0d1b2a;
}
.answerField {
    width: 60%;
    height: 64px;
    font-size: 32px;
    text-align: center;
    background-color: #415a77;
    border: 8px solid #0d1b2a;
    border-radius: 12px;
    outline: 0;
    margin-top: 16px;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}
/*############################################################################*/
#winPage {
    display: none;
    font-size: 120px;
    flex-wrap: wrap;
    text-align: center;
}
#winText {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgb(0, 224, 0);
}
#winTypeText {
    color: rgb(0, 224, 0);
}
#restartButtonContainer {
    font-size: 32px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: #0d1b2a;
}
#restartButton {
    color: red;
    padding: 12px;
    width: fit-content;
    margin-top: 24px;
    background-color: #0d1b2a;
    cursor: pointer;
}
