:root {
    --col1: #0d1b2a;
    --col2: #1b263b;
    --col3: #415a77;
    --col4: #778da9;
    --col5: #e0e1dd;
}
* {
    margin: 0;
    padding: 0;
    color: var(--col5);
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: var(--col2);
    height: 100vh;
    width: 100vw;
}
/*############################################################################*/
header {
    background-color: var(--col1);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}
#appName {
    font-size: 52px;
    width: 500px;
    min-width: 300px;
    text-align: center;
    padding: 12px;
}
#appName:hover {
    cursor: pointer;
}
#gameOptionsContainer {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 1 1 300px;
}
.gameOptions {
    font-size: 32px;
    width: 20%;
    min-width: 200px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.gameOptions:hover {
    cursor: pointer;
}
/*############################################################################*/
main {
    width: 100%;
    height: fit-content;
    min-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainPage {
    height: 100%;
    width: 100%;
    padding: 5rem;
    color: #0d1b2a;
    text-align: center;
    font-size: 4rem;
}
#gameModeText {
    height: fit-content;
    margin-bottom: 5rem;
}
#mainGameOptionsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.mainGameOption {
    border: 12px solid var(--col4);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-radius: 16px;
    cursor: pointer;
    padding: 2rem;
}
#gameOptionDemon {
    grid-row: span 2;
}
.mainGameOption div {
    width: 100%;
}
.mainGameOption img {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
}

/*############################################################################*/
.allGameContainer {
    width: fit-content;
    height: fit-content;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 48px;
    border: 12px solid var(--col4);
    border-radius: 16px;
    background-color: var(--col2);
}
.mainHeader {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.operationName {
    width: 100%;
    text-align: center;
    font-size: 64px;
    margin-bottom: 8px;
}
.level {
    width: fit-content;
    font-size: 48px;
    display: flex;
}
.levelNumber {
}
.progressBarContainer {
    width: 300px;
    background-color: black;
    height: 40px;
    border-radius: 8px;
    position: relative;
    margin-left: 48px;
    margin-top: 12px;
}
.progressBarPrecent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}
.progressBar {
    width: 90%;
    height: 100%;
    background-color: green;
    border-radius: 8px;
}
.gameContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gameProblem {
    width: fit-content;
    min-width: 300px;
    height: fit-content;
    padding: 32px;
    margin-top: 48px;
    font-size: 96px;
    text-align: center;
    border-radius: 12px;
}
.answerField {
    width: 60%;
    height: 64px;
    font-size: 32px;
    text-align: center;
    background-color: var(--col3);
    border: 8px solid var(--col4);
    border-radius: 12px;
    outline: 0;
    margin-top: 16px;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}
/*############################################################################*/
#winPage {
    display: none;
    font-size: 120px;
    flex-wrap: wrap;
    text-align: center;
}
#winText {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgb(0, 224, 0);
}
#winTypeText {
    color: rgb(0, 224, 0);
}
#restartButtonContainer {
    font-size: 32px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#restartButton {
    color: red;
    padding: 12px;
    width: fit-content;
    margin-top: 24px;
    background-color: #0d1b2a;
    cursor: pointer;
}
/*############################################################################*/
#popupInstructions {
    position: fixed;
    top: 50%;
    left: 50%;
    width: fit-content;
    height: fit-content;
    background-color: var(--col1);
    transform: translate(-50%, -50%);
    padding: 3rem;
    border-radius: 16px;
    display: none;
}
#welcomeText {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
#gameDescription {
    font-size: 1.5rem;
    color: #0d1b2a;
    list-style-type: disc;
    height: fit-content;
    width: fit-content;
    margin-left: 1rem;
}
#gameDescription li {
    margin: 12px;
}
#gameDescription a {
    color: var(--col4);
    text-decoration: none;
}
#closePopupContainer {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#closePopupText {
    font-size: 3rem;
    width: 100%;
    text-align: center;
}
#closePopupInput {
    margin: 12px;
    border: 0;
    border-radius: 12px;
    outline: 0;
    width: 400px;
    height: 60px;
    background-color: var(--col3);
    font-size: 2rem;
    text-align: center;
}

/*############################################################################*/
/*############################################################################*/
/*############################################################################*/
@media (max-width: 500px) {
    #mainPage {
        padding: 0;
        width: 100%;
    }
    #mainGameOptionsContainer {
        grid-template-columns: 1fr;
    }
    #gameOptionDemon {
        grid-row: span 1;
    }
    .mainGameOption {
        width: 280px;
        font-size: 3rem;
    }
}
